* {
    font-size: 14px;
    font-family: sans-serif;
}
 
form.registro {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #DDDDDD;
    margin: 0 auto;
    padding: 20px;
    width: 278px;
}
 
form.registro div {
    margin-bottom: 15px;
    overflow: hidden;
}
 
form.registro div label {
    display: block;
    float: left;
    line-height: 25px;
}
 
form.registro div input[type="text"],
form.registro div input[type="password"] {
    border: 1px solid #DCDCDC;
    float: right;
    padding: 4px;
}
 
form.registro div input[type="submit"] {
    background: none repeat scroll 0 0 #DEDEDE;
    border: 1px solid #C6C6C6;
    float: right;
    font-weight: bold;
    padding: 4px 20px;
}
 
.error {
    color: red;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}